<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="mybatis/mappers/brag.xml"/>
	   	<mapper resource="mybatis/mappers/userMapper.xml"/>
	   	<mapper resource="mybatis/mappers/placereview.xml"/>
	   	<mapper resource="mybatis/mappers/community.xml"/>
	</mappers>
</configuration>

<!--
CREATE TABLE `user` (
  `idx` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(50) NOT NULL,
  `nickname` varchar(50) NOT NULL,
  `password` varchar(50) NOT NULL,
  `profileImg` varchar(50) DEFAULT 'DEFAULT.jpg',
  `honbabLevel` int(11) DEFAULT '1',
  `group` int(11) DEFAULT '1',
  PRIMARY KEY (`idx`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

INSERT INTO `user` (`idx`,`email`,`nickname`,`password`,`profileImg`,`honbabLevel`,`group`) VALUES (1,'484342@gmail.com','inkyu091','1234','DEFAULT.jpg',1,1);

CREATE TABLE `honbab` (
  `articleNo` int(11) NOT NULL AUTO_INCREMENT,
  `user_PK` int(11) NOT NULL,
  `date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `inRestaurant` tinyint(1) NOT NULL,
  `location` varchar(40) NOT NULL,
  `content` varchar(4000) NOT NULL,
  `imgfilename` varchar(50) NOT NULL,
  `readCount` int(11) DEFAULT '0',
  PRIMARY KEY (`articleNo`),
  KEY `user_PK` (`user_PK`),
  CONSTRAINT `honbab_ibfk_1` FOREIGN KEY (`user_PK`) REFERENCES `user` (`idx`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

INSERT INTO `honbab` (`articleNo`,`user_PK`,`date`,`inRestaurant`,`location`,`content`,`imgfilename`,`readCount`) VALUES (1,1,'2022-03-03 22:54:40',0,'집','햇반','rice.jpg',0);
INSERT INTO `honbab` (`articleNo`,`user_PK`,`date`,`inRestaurant`,`location`,`content`,`imgfilename`,`readCount`) VALUES (2,1,'2022-03-03 22:56:00',1,'졶맛커피','콜드브루','coffee.jpg',0);

-->